* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hours {
	height: 70px;
}

.task-description {
	vertical-align: center;
}

.jumbotron {
	font-family: "Roboto", sans-serif;
	text-align: center;
}
footer {
	height: 100px;
}
